@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=ZCOOL+QingKe+HuangYou&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

:root {
  --white: #fff;
  --grey: #eeede7;
  --green: #4bb543;
}

html {
  font-size: 62.5%;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--grey);
}
